<h1>Stupid Coaching</h1>
<div class="card" style="width: 18rem;">
<%= @question %>
<p class="text-success">-you</p>
</div>

<div class="card" style="width: 18rem;">
<%= @answer %>
<p class="text-secondary">-coach</p>
</div>
<%= link_to ">>ask again<<", ask_path %>
